<div class="flex flex-col min-h-screen">
    <header class="p-6">
        <nav>
            <ul class="flex justify-center gap-x-5">
                <li>
                    <a mat-fab extended color="primary" routerLink="/empleado/create">
                        <mat-icon>add</mat-icon>
                        Agregar empleado
                    </a>
                </li>
                <li>
                    <a mat-fab extended color="primary" routerLink="/empleado/list">
                        <mat-icon>list</mat-icon>
                        Lista de empleados
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="grow flex justify-center">
        <router-outlet></router-outlet>
    </main>
</div>